
*{
    padding: 0;
    margin: 0;
    font-family: "arial";
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
}
.body{
    
        margin: auto auto;
        max-width: 1900px;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    top: 0px;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
nav ul{
    display: flex;
    padding-top: 20px;

}
nav .input{
    flex: 1;
}
nav .input input{
    width: 100%;
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid  #A2CFE3;
    border-color: #A2CFE3;
}
nav ul li a{
    padding: 5px;
    margin: 5px;
    color: #505050;
    font-size: 10px;
    /* font-weight: 700; */
}

.logo{
    font-family: RoadTest;
    color:#7f8c8d;
    font-size: 22px;
    padding: 20px;
}
.logo strong{
    color:#222426 ;
}
a{
    text-decoration: none;
    
}
/* INFO */
.info{
    display: flex;
    margin-top: 1rem;

}


/* LEFT INFO */
.left_info{
    border-right: 3px solid#138496;
    /* position: sticky;
    left:0; */
    color: #848D95;
    height: 100vh;
    margin: 0;
    padding: 0rem 1rem;
    width: 12rem;
    
}
.left_info_detail{
    margin-top: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
}
.left_info_detail a{
    text-decoration: none;
    color: #848D95;

}

/* RIGHT INFO */
.right_info{
    padding: 5px;
    width: 100%;
    margin: 0;
}
.right_info_top{
    /* border: 3px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right_info_top{
    padding: 20px;
}
.right_info_topBorder{
    border:1px solid #848DAD;

}
.right_info_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    /* border:1px solid #848DAD; */
    margin: auto auto;
    max-width: 40rem;
}
.counter{
    color: #848DAD;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;

}
.counter p{
     padding: 5px;
     margin: 5px;
}
.right_info_body_content{
    /* border:1px solid #848DAD; */
    /* USE THIS background-color FOR JAVASCRIPT MANUPULATION  background-color:#FDF7E3; */
    background-color:#FDF7E3;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
    padding: 1rem;
}

.question_content{
    width: 100%;
    padding: 2px;
     margin: 1px;
}
.tags{
    width: 100%;
}
.tags span{
    color: #848DAD;
    background-color:#dcdde1 ;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: small;
}
.question_addOns{
    display: flex;
    justify-content: space-between;
    
}
.author{
    text-align: right;
    width: 100%;
    font-size: smaller;
    color: #848DAD;

}

/* FOOTER */
.footer {
    background-color: #242729;
  color:#8FA6A0;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .footer a {
    color: #636e72;
  }
  
  .footer span{
    margin-bottom: 30px;
  }
  .footer_links{
    display: flex;
    justify-content: center;
    align-items: center;
  }
